[2017-05-27 21:28] CesarHerreraG opened #1 "Doesn't open"
I install Gallery in the store of Ubuntu. Initially I can open the app and may open a picture. But after some time the app doesn't open and I can't open a picture. The app may even lost their icon.
Phone: BQ E4.5 with r3
I have the same problem with OpenStore app.

[2017-05-28 19:44] CesarHerreraG commented on #1
[General]
defaultViewIndex=1

[BlacklistedDirs]
1\regexp=/media/phablet/[^/]*/Music
2\regexp=/media/phablet/[^/]*/Documents
size=2

[2017-05-28 19:46] UniversalSuperBox commented on #1
We're going to need a bit more information here.

Did you do a clean install of UBports or did you restore your data from a backup?

Can you provide this app's log from `~/.cache/upstart/application-click-com.ubuntu.gallery*.log`? Also grab the logs specified in https://wiki.ubports.com/wiki/Writing-a-Good-Bug-Report

[2017-05-28 21:51] CesarHerreraG commented on #1
The file ~/.cache/upstart/application-click-com.ubuntu.gallery*.log doesn't exist.

[2017-05-28 21:59] CesarHerreraG commented on #1
As I don't know how to put a file I print it: UTlogcat.log

--------- beginning of /dev/alog/system
E/POAD    ( 1032): boot_mode = 0
E/POAD    ( 1032): update boot reason = 0
W/SchedPolicy( 1007): add_tid_to_cgroup failed to write '31' (Invalid argument); policy=1
W/SchedPolicy( 1007): add_tid_to_cgroup failed to write '58' (Invalid argument); policy=1
W/SchedPolicy( 1007): add_tid_to_cgroup faile

[2017-05-28 21:59] #1 closed

[2017-05-28 22:01] CesarHerreraG commented on #1
File UTdmseg.log

[    0.000000] Booting Linux on physical CPU 0
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Linux version 3.4.67 (root@android-barajas2_1430843755) (gcc version 4.7 (GCC) ) #1 SMP PREEMPT Mon Jun 6 12:04:40 UTC 2016 b75400e
[    0.000000] CPU: ARMv7 Processor [410fc073] revision 3 (ARMv7), cr=10c5387d
[    0.000000] CPU: PIPT / VIPT nonaliasing data cache, VIPT al

[2017-05-30 09:49] CesarHerreraG opened #2 "Can't start rhe app"
https://ln.sync.com/dl/17046e460/eych67dj-h6f3ci2i-grjtar4a-33in5nde
This is obtained when the app is open. Passing the time it may be imposible open the app.

[2017-05-30 10:25] CesarHerreraG commented on #2
the app

[2017-05-31 16:22] CesarHerreraG commented on #2
https://ln.sync.com/dl/c0f6ead40/68hiifaj-ek58kwex-2q8ieftc-v9fzzda7

https://ln.sync.com/dl/ce8d18350/2kx58cmv-c8euixu3-h3p4fewh-jndxncvy

[2017-05-31 16:24] CesarHerreraG commented on #2
I don't know another way of put the files. Sorry.

[2017-06-01 11:19] CesarHerreraG commented on #2
Said in a previous review:
I install Gallery in the store of Ubuntu. Initially I can open the app and may open a picture. But after some time the app doesn't open and I can't open a picture. The app may even lost their icon.
Phone: BQ E4.5 with r3
I have the same problem with OpenStore app.

[2017-06-01 16:03] CesarHerreraG commented on #2
Now r5

[2017-06-01 18:26] Flohack74 commented on #2
@bhdouglass Can you think of any cause that would make openstore app behave like that?

[2017-06-01 18:48] CesarHerreraG commented on #2
No. Gallery and Openstore behabes the same. When I install them they open. But after a time they don't. Even their i on doesn't appear. Althow may reappear. But the only way to function is remove them an reinstall.
Perhaps I have to reinstall the O.S.
In this case I don't know the best way of doing it.
Thanks a lot.

[2017-06-01 19:04] bhdouglass commented on #2
@Flohack74 I'm not sure, what exactly is the problem here and can we get some logs for the OpenStore?

[2017-06-01 19:21] CesarHerreraG commented on #2
I have send 3 links to logs.
I install the apps Gallery and OpenStore and in the first time they go. But after some time they don't open.

[2017-06-02 09:47] CesarHerreraG commented on #2
https://ln.sync.com/dl/ba299fe90/gisngrh3-p6krrwen-gxu59dup-u6xwcnxv

[2017-06-05 14:01] #2 closed

[2017-06-05 16:28] flyingbobcat opened #4 "No way to view image details (file name / EXIF)"
There is no way to view the file name of an image. Neither can one see [EXIF](https://en.wikipedia.org/wiki/Exif) information like exposure time, shutter speed, ISO value etc.

There are OSS like [eog](https://wiki.gnome.org/Apps/EyeOfGnome), [shotwell](https://wiki.gnome.org/Apps/Shotwell) and [gimp](https://www.gimp.org/), which can display EXIF information.

[2017-06-05 16:33] flyingbobcat opened #5 "Missing a way to move photos on the file system (Phone <-> SD card)"
There should be an option to move one photo, a selection of photos or an album of photos to another location in the file system.

Use case: the user takes pictures, runs out of internal storage, buys a new sd card and now wants to move all of the existing ones to the sd card.
While the photo app is able to choose the store target (internal /  SD) in advance, it is not possible to move them retrosp

[2017-06-13 20:35] Flohack74 opened #8 "Update translations"
We need to check usage of i8n.tr() functions, if they correspond to a string in the .pot file of the App. Then, use poedit to fix all languages we know, until we got translation service working again.

See screenshots:

[2017-06-13 20:36] Flohack74 commented on #8
![grafik](https://user-images.githubusercontent.com/16186470/27103359-a98bdb82-5088-11e7-8e9d-6b0681717f85.png)
![grafik](https://user-images.githubusercontent.com/16186470/27103365-adf063be-5088-11e7-8d08-02a25e977617.png)

[2017-06-13 20:50] TronFourtyTwo commented on #8
Here I am to work this out. I will write here the progress.

[2017-06-22 13:51] bqphone opened #10 "resize"
Any chance the gallery app get a resize photo option? some forums or websites have limits about the photo size, so basically alot of extra work just to upload a photo.

[2017-06-22 17:41] TronFourtyTwo commented on #10
This feature is already available in the app.

[2017-06-23 01:49] bqphone commented on #10
corp is not resize

[2017-06-23 14:31] TronFourtyTwo commented on #10
Sorry, haven't got what you mean. Thanks for the report. I will what I can do

[2017-06-23 15:53] bqphone commented on #10
Well some forums have a limit to the size of the photos allowed to uploaded to their forum. So resizing the photo will make the total size less.

4 x 6  1200 x 1800
5 x 7  1500 x 2100
8 x 8	  2400 x 2400
8 x 10	2400 x 3000

so we can go from 2400 x 3000 to 1200 x 1800 which means size for example will go from 2 mb to 500 kb

need me to explain more? english is my 3rd language.

[2017-06-23 23:27] TronFourtyTwo commented on #10
Ok, now I understood. Your english is very good, but it's to not get very well. Sorry. Added to the TODO list.

[2017-08-02 18:59] Flohack74 commented on #4
I would suggest to overlay the filename already in the normal view and to add some menu entry to view further details (if they are available). Just had a hard time copying the right screenshot from the phone as I could not determine the filename of it ;) => had to copy ALL screenshots...

[2017-08-02 22:09] TronFourtyTwo commented on #4
Yes. I am already working on a prototype of bottom edge with advanced informations and settings.

[2017-08-02 23:49] ChloeWolfieGirl opened #18 "When save photo keep old"
When you edit a photo it automatically saves over your old photo, this isn't desirable as sometimes you're editing just to make a profile picture, or you maybe testing some different stuff out and still want the original.

You can go back and delete the unedited photo if you want, but once its over written its gone.

[2017-08-02 23:54] ChloeWolfieGirl opened #19 "Save should be placed somewhere else"
In the gallery app, the save button is where the back button should be.
Perhaps put SAVE to the top right like it is on android.
This leaves the question of undo and redo.

Perhaps we should get rid of the revert button as tapping the back button would mean no changes would be saved, and put undo and redo at the bottom where that used to be.

[2017-08-03 01:31] ChloeWolfieGirl opened #20 "Implement new Gallery design"
I made some mock ups, these mock ups are to show how the Gallery could look when we add support for new online services.
As well as showing images by the folders they're from, such as downloads, camera, telegram, and more.

![gallery 5](https://user-images.githubusercontent.com/8162805/28901962-cb8c44a0-77f3-11e7-8b5f-4889a8b373d5.png)
![gallery 1](https://user-images.githubusercontent.com/8162805

[2017-08-03 07:19] TronFourtyTwo commented on #18
Yes, the editing UI need a refresh, atm is quite confusing

[2017-08-03 07:21] TronFourtyTwo commented on #19
Yes, the editing UI and behaviour need a refresh, at the moment is quite confusing.

[2017-08-03 07:28] TronFourtyTwo commented on #20
They look good! There are two points I like to highlight:
- Implement folders
- Header with sections

[2017-08-03 11:51] flyingbobcat commented on #10
This feature would make sharing photos over slow mobile internet more comfortable.
Atm an uncompressed version of several MB is sent, e.g. when sharing via Telegram. This can take up to 30 seconds. And because Telegram doesn't work when in background / with turned off screen, you need to wait.

It would be nice to have a "Share (Quick)" button, that sends a JPG version with 70% quality and 75% pix

[2017-08-03 12:40] ChloeWolfieGirl commented on #20
So the Collections tap is basically folders.
Originally I was going to call the tap folders, but in a photo app they dont really act much like a file manager, and in my head thats how a tab like folders would work, so I looked at what my OP3 called it, and they called it collections.

That's why one is called Camera, and the other is called Download in the collection view, a question with that wou

[2017-08-03 12:46] ChloeWolfieGirl commented on #20
The two things I wanted to solve with the new designs was;

- Online accounts
A design which makes it easy for users to change to online accounts and what tabs they may have in place.

- More organised gallery
So the current Gallery app is pretty all over the place,
we have the events tab which shows you images from anywhere and everywhere, but is organised by date, this isn't to bad if you're not

[2017-08-03 12:59] TronFourtyTwo commented on #20
About collections, I suppose is a very good idea and I suppose it's very important. I received various segnalations about difficult browsing when you have many medias from many sources. Collection will

[2017-08-03 13:07] TronFourtyTwo commented on #20
The main problem about collections is how Gallery media importing works: All apps to save media in the Gallery have to give the media to the Gallery throught content-hub, I do not know if is possible from the Gallery side know what app has shared that media, hence it put all the media received from content-hub in the imported/ folder. I have to invstigate on this.

[2017-08-03 15:58] ChloeWolfieGirl commented on #20
Sure, this is one of the reasons why I believe it hasn't been implemented in the Gallery app so far.
With that being said we don't have to work with all the same restrictions that canonical placed on apps, especially since this is a core app.

I recon that a talk about how best to implement this with Marius would be good as there might be something he could add to the main image which would make i

[2017-08-03 16:22] Flohack74 commented on #20
I propose (also some thoughts with @sverzegnassi together) smth like:
- click apps keep their local confinement and data folders in  .config, .cache .local etc
- /home/phablet/Bigletterfolder should always be accessible to all Apps. So users can create whatever they want.

[2017-08-03 21:06] TronFourtyTwo commented on #20
Definetely there is something to change in the isolation system. I thought about two solution, they can help not only the Gallery, since probably other apps are going to have the same problem in the future:
1) Gallery (or whatever receiving app which manage a BigLetter folder, such Document Viewer for Documents folder )-side solution. Since Gallery have to order imported media, content hub need to

[2017-08-04 10:42] sverzegnassi commented on #20
You've discussed a tons of stuff here!

I like @ChloeWolfieGirl 's redesign. While I'm not sure if it would still make sense to have a 'Photos' (i.e. see all medias w/out organization) section, once 'Collections' became available, this is definitely what I'd like to see.

**Events:** I would say to remove the UbuntuShape and OrganicView usage from the app, since it has been found that those compon

[2017-08-04 13:39] TronFourtyTwo commented on #20
Ok
I will start work on this new stuff then.

[2017-08-04 13:50] ChloeWolfieGirl commented on #20
I'm glad you like the designs!
I dont think anyone would mind if you dropped the photos tab.

My question for this idea of implementation is.
can people still organise there photos manually by moving photos in the file manager?

There's multiple reasons from this, many people download lots of different photos from the browser, they maybe backgrounds, profile picture, photos of friends etc, and wha

[2017-08-04 17:33] ChloeWolfieGirl opened #21 "Have a set as option"
This would have to include some discussions with other app devs and system, but ideally, there should be a way to set an image as a wallpaper or contact photo directly from the gallery app.

This wouldn't be ideal to show these options from other apps when sharing and downloading.

[2017-08-05 14:47] sverzegnassi commented on #20
It is. I'm currently working on the new File Manager for phones, and I specifically created a custom view for handling folders with pictures. It is an alternative way to access pictures, with a focus on advanced file management features, rather than a full gallery-app replacement, so it may probably cover your requirements.

[2017-08-05 14:53] ChloeWolfieGirl commented on #20
I saw some screenshots or mock-ups of that on telegram a bit ago, looks great :D

[2017-08-05 19:32] sverzegnassi commented on #20
Sorry for further spamming but, after the last messages, I came up with a design proposal for 'collections', and I'd like to hear @TronFourtyTwo 's opinion about it.

Chloe has been asking to implement some basic file management capabilities inside gallery-app, in order to organize her photos. Instead of adding those features (e.g. Move, Copy, New Folder/New Collection), which would add more overh

[2017-08-05 21:17] ChloeWolfieGirl commented on #20
I didnt mean add a file manager to the gallery app, but rather if someone uses the file app or just moves folders from there computer to there phone, the gallery app should detect where the photos have been moved to.

[2017-08-06 10:04] TronFourtyTwo commented on #20
@sverzegnassi I think is a good idea, but to know if it will be actually good in practice we have to try it, we should make a prototype, and see if it works.

[2017-08-25 15:38] mihaelmilea opened #26 "More than two minutes to start the app"
I have many, many pictures and it takes more than two minutes to start the app, meanwhile one core CPU is used 100%. The pictures are stored on the SD card. With the SD card removed the app starts imediately.

[2017-08-25 15:42] mihaelmilea opened #27 "Navigation in pictures"
I have many pictures and there is no way I can navigate to the pictures taken in a certain year, a certain month. Maybe the events feature could help with that but for me the events feature is unusable since it freezes - maybe because of so many pictures? In meego there was a slider on the right side of the photo gallery and you could go to a different month/year.

[2017-08-25 20:17] mihaelmilea opened #28 "View videos in gallery"
Right now when you hit play for a video in gallery it opens the video in a video player that needs to be closed afterwards by pressing an "X". It would be great if the video can be played directly in the gallery-app and then you can swipe left or right to the previous or next photo or video without even pausing the played video. For example in the videos scope there is a choice to play the videos

[2017-08-26 14:32] TronFourtyTwo commented on #28
Yes, the current one is an annoying behaviour. A built-in player would be better.

[2017-08-26 14:34] TronFourtyTwo commented on #27
This is true, at the moment browsing trought medias is very bad. We are working on a new way media are organized ( with collections ) which should help there.

[2017-09-18 21:30] bqphone opened #33 "Select all option"
Would be great if we have select all option in gallery, will make the life of other apps much easier for example if you want to use imaginario app.

[2017-09-18 22:04] TronFourtyTwo commented on #33
Yes, this I think it could be a good improvement.

[2017-09-27 19:46] ernesst opened #35 "Wrong translation for sharing"
Gents,

When i need to share an image, in the menu i have the choice to "compartir". i guess there is a translation error/typo, on my english phone.

![image](https://user-images.githubusercontent.com/11337464/30934253-a1e7f764-a392-11e7-9a19-ed45dfae8a10.png)

[2017-11-05 02:42] nfsprodriver opened #41 "Preview animated gifs"
Would be nice to see animated gifs. May use AnimatedImage{} qml object for that.

[2017-11-05 02:44] nfsprodriver opened #42 "Selectable grid size"
We may have a selectable grid size e.g. using pinch zoom or a settings pane.

[2017-11-05 02:47] nfsprodriver opened #43 "Offer horizontial scrolling"
To make the UI as user friendly as possible one step would be a selectable scroll direction.

[2017-11-05 02:53] nfsprodriver commented on #26
So we may need some asyncronously loading in some places of the program.

[2017-11-05 02:55] nfsprodriver commented on #8
Should we call that a "bug"?

[2017-11-09 15:10] Flohack74 commented on #26
Plus, when I open the gallery app after some days, not all pictures are loaded. Specifically it seems that it loads only up to the last 24hrs. Close again, open, it works.

[2017-11-10 08:40] TronFortyTwo commented on #26
Yes, currently ALL the media in the device are loaded (not fully, but I think each one is at least checked) at launch, this means a long load time for large collection. This is one of the issues can be solved when we will implement collections/folder media organization.

[2017-11-10 09:01] mihaelmilea commented on #26
Could we just get a as-of-now quick fix, let's say at start it loads only the first n number of pictures and then it loads the rest of them in the background? I am facing every day this issue... Sometimes I want to show somebody a picture and, if somehow meanwhile the gallery closed, I have to wait the two minutes for it to start... I am not complaining, I am soooo thankfull for all your work, tha

[2017-11-20 21:58] sverzegnassi commented on #26
@TronFortyTwo Do you think that switching to MediaScanner2 as a backend for gallery-app could help?
If memory serves me well, it provides a media database that is sinchronized in background, any time a new picture or video is saved on disk. That might help by erasing the time spent during the initial consistency check. Could it be suitable?

[2017-11-29 09:23] TronFortyTwo commented on #26
Maybe. Surely update a library is always a good idea, so I will try to do that asap, hoping it helps here.

[2017-12-25 20:18] ronnietucker opened #48 "Crashing out"
Tapping the Gallery app causes it to begin loading (white screen) then display the spinning blue circle. Then, seconds later, it crashes out.

MX4 and 16.04/dev

[2017-12-25 20:27] TronFortyTwo commented on #48
This is caused by a library which Gallery App rely on, which is a newer version on xenial. This is solved compiling the app with xenial framework.

[2018-01-10 19:20] TronFortyTwo commented on #20
Hi!
Sorry for my few commits to the gallery app lately. Unfortunately since some months my Ubuntu Phone get broken and I have no other ut device available. For some time I managed to develop something on it using it remotely, but still, I had no possibility to work on graphical applications, but now is completely unusable. With this I am not saying I am not going to work on gallery app anymore, I

[2018-01-17 09:43] mihaelmilea commented on #26
@Flohack74 changed the ping interval in the push server to 5 minutes and then I also did the changes to /etc/xdg/ubuntu-push-client/config.json sugested in https://github.com/ubports/ubuntu-touch/issues/415 and then I restarted the phone for those changes to take effect.

Now my gallery starts instantly!!! As if there was something wrong with my phone, I restarted the phone and checked it again: g

[2018-01-17 09:55] Flohack74 commented on #26
Huh? This cannot be, somehow. push service has nothing to do with gallery. Please observe :) In any case, gallery should have a lazy loading, for only the picutres on screen plus a few outside to support faster scrolling experience.

[2018-01-17 10:10] mihaelmilea commented on #26
@Flohack74 you are right, I realized it loads fast now because for some reason it does not detect the SD card where I have all the pictures (would that have anything to do with the modifications of /etc/xdg/ubuntu-push-client/config.json ?). Sorry for the confusion!

[2018-01-17 10:12] Flohack74 commented on #26
No, this cannot affect the SD card also. Maybe try to re-insert it, some contact problem?

BR

[2018-04-05 06:08] hummlbach opened #56 "Basically feels as if unmaintained"
@TronFortyTwo said in issue #20 that he was not in the position to continue developping since his device got broken.
@TronFortyTwo do you see a reasonable chance of continueing developpment? Do you still have no device?

[2018-04-05 08:35] Flohack74 commented on #20
@TronFortyTwo the foundation can maybe send you a development device, we got some stock from Canonical for this...

[2018-04-05 13:12] TronFortyTwo commented on #20
@hummlback Yes, I am still without an Ubuntu Touch device.. :(
@Flohack74 That would be absolutely great and very kind and helpful! :D

[2018-04-23 13:39] StefWe commented on #35
Is this fixed or should i check the translation?

[2018-04-24 12:34] StefWe commented on #56
I would like to help to maintain this app.

[2018-04-24 12:34] TronFortyTwo commented on #56
That would be great!

[2018-04-24 12:47] StefWe commented on #56
But i'm a beginner so don't expect too much

[2018-04-28 10:52] Flohack74 commented on #35
Plz check in https://translate.ubports.com/projects/ubports/gallery-app/

[2018-04-28 11:49] StefWe commented on #35
Thank you for this link.
If i build the app i found some translation fault to german, but the problem is the de.po file. In line 99 https://github.com/ubports/gallery-app/blob/master/po/de.po there are some text. When i remove this text, the translation works.
Is this file generated by weblate or how can we fix this?

[2018-04-28 13:06] Flohack74 commented on #35
Please do not touch the po files directly, I will take care for this.

[2018-04-29 07:56] StefWe commented on #35
@Flohack74 thank you. I found another issue. The structure of the .pot file is not working at some points.
original:
**#: rc/qml/EventsOverview.qml:76 rc/qml/PhotosOverview.qml:85
msgid "Delete 1 photo"
msgstr ""**

**#: rc/qml/EventsOverview.qml:81 rc/qml/PhotosOverview.qml:90
#, qt-format
msgid "Delete %1 photos"
msgstr ""**

and it works if i changed it in the following format:
**#: rc/qml/Even

[2018-04-29 12:55] StefWe commented on #35
i try to make a PR, but i get following info from atom
**remote: Permission to ubports/gallery-app.git denied to StefWe**
Is there anything i made wrong or is it only missing permissions

[2018-04-29 15:46] Flohack74 commented on #35
Yes, you need to fork the App to your user, you are not part of the organization and therefore you dont have write access.

[2018-04-30 08:26] StefWe commented on #35
The github workflow is completely new for me, thank you for your help

[2018-04-30 11:56] Flohack74 commented on #35
But you did it! So finally we got this fixed, and I translated already the new German words ;)

[2018-05-01 18:51] StefWe commented on #35
I found another wrong translation

![screenshot20180501_204510815](https://user-images.githubusercontent.com/35935077/39487851-c272ead2-4d80-11e8-8272-1db925bd48f9.png)

but this is from the  ubuntu-ui-extras/modules/Ubuntu/Components/Extras/PhotoEditor.qml and look correct translatetd in the german version, the only thing is in line 84/85 https://github.com/StefWe/ubuntu-ui-extras/blob/xenial/po/

[2018-05-01 18:58] StefWe commented on #18
I play around a little with the gallery app and found that the app create a foulder .original where you can found the original picture.
But it only save sometimes the original picture, sometimes not...

[2018-05-01 19:03] StefWe commented on #8
With the new .dot file and the removed #, fuzzy in the .po files this wrong translations from this issue are fixed.
I think we can close this issue

[2018-05-01 21:11] Flohack74 commented on #8
Good!

[2018-05-01 21:11] #8 closed

[2018-05-01 21:18] Flohack74 commented on #35
I added this to our Weblate server: https://translate.ubports.com/projects/ubports/ubuntu-ui-extras/ - does this help?

[2018-05-02 20:44] Flohack74 commented on #35
Ok perfect!

[2018-05-02 20:44] #35 closed

[2018-05-04 14:05] StefWe commented on #18
I play a little more and found out what @PhoenixLandPirate discribed with issue #19
So if i save my modifications the app create a .original foulder. If i open my modified picture, i can restore the original photo with the revert button at the bottom of the screen.

So i think you can modify a picture and restore them as long as you don't delete the file in the .original folder

Should we treat th

[2018-05-04 14:12] StefWe commented on #19
As first and quick step we can change the description of the save button from **Edit Photo** to **Save edit photo**
I think this makes the function of the button much easier to understand.

[2018-05-08 09:28] ennedin opened #60 "[xenial] No option to display single picture or to leave in album view"
After creating a new album and opening it the only way back to the main view is closing and re-opening the app. Also there is no reaction (e.g. a detail view of the picture) when tapping one single picture in the album.
Issue on hammerhead with xenial (16.04).

[2018-05-08 10:34] StefWe commented on #60
@Flohack74 can you pin the lable "bug" to this report?

[2018-05-08 16:50] Flohack74 commented on #60
Yes and do we know if this is a regression from 15.04?

[2018-05-08 20:00] StefWe commented on #60
@Flohack74 i don't understand what you mean with regression.
I use arale with 15.04 and don't have problems with the album view.

[2018-05-08 20:16] StefWe commented on #18
@Flohack74 do you think we can tag this as enhancement?

## Proposition:
If you save a edit picture we store them with the actual date and time as filename and don't touch the original picture. Then you have always the original and the new file in the gallery.

[2018-05-08 20:31] Flohack74 commented on #60
So this is a regression since it worked in 15.04 but doesnt in 16.04 :)

[2018-05-08 20:40] StefWe commented on #60
Right. I can not test it by myself, i don't have a xenial device.
But if someone else is testing the album view please report your experience.

[2018-05-09 21:33] StefWe commented on #60
I can confirm this issue on hammerhead with xenial build r369

[2018-05-17 20:13] StefWe opened #63 "[xenial] not possible to run the app after build with clickable"
i made the changes on manifest and .apparmor https://forums.ubports.com/topic/1215/updating-apps-to-16-04
and run the build with following command `clickable -k 16.04`

The gallery-app is starting, but i only see a with screen.

The Logfile entry:

import "AlbumEditor" has no qmldir and no namespace

i try to change the import from
`import "AlbumEditor"`
to
`import "./AlbumEditor"`
but it don't wo

[2018-05-17 20:14] StefWe commented on #63
@Flohack74 can you tag this issue with the label "help wanted"

[2018-05-18 11:04] StefWe commented on #60
hopefully we made some progress here as soon as #63 is fixed

[2018-05-26 22:29] StefWe commented on #60
My logfile from the gallery-app 16.04 version: https://paste.ubuntu.com/p/5TCfRKDNM2/
My logfile from the gallery-app 15.04 version: https://paste.ubuntu.com/p/3td4ZDy6jb/

Here they have the same issue: https://github.com/timsueberkrueb/ubuntu-hangups/issues/70#issuecomment-392269297
But they write this don't effect the function of the app.

[2018-05-27 17:05] #63 closed

[2018-06-05 22:30] Amolith opened #64 ""Hidden" albums"
The option to "hide" albums (and the pictures within) would be a great feature. This could even just be a tab included in the Albums, Events, Photos list; just an easier way to take pictures/videos out of the overview in Events and Photos. This could also be an album option. Hold your finger on the album and select "Hide" and those pictures/albums only show up under the "Hidden" tab.

[2018-06-10 01:04] Marathon2422 opened #65 "Upgrade not working"
Upgrade gives error 7,from device updates.
Install fom openstore,disables the app altogether,
I just have a frozen icon.
Rebooting. And so on.

[2018-06-10 09:44] StefWe commented on #65
Can you post a screenshot from your error 7?
Which device you are using?
Do you run on 15.04 or 16.04?

[2018-06-10 09:56] TronFortyTwo commented on #65
Marius is working with CI to publish automatic updates to the OpenStore. Maybe the issue is with the version number, since Marius bumped to version 2.9.5 but that was already a version. It should be 2.9.10 iirc.

[2018-06-10 14:33] Marathon2422 commented on #65
I am on pro5 16.04 r91
It works on my m10fhd

(game:- 8192 will not install from openstore)

[2018-06-10 21:49] hoh61 commented on #65
With 16.04 r92 on my m10fhd the shipped gallery app (2.9.5) is running with the known limitations. Updating tis the version from the open store make this app unusable.

[2018-06-11 14:52] StefWe commented on #65
@hoh61 and @Marathon2422 can you post the log files?

[2018-06-11 17:39] hoh61 commented on #65
Sorry, I couldn' get rid of the installed camera app, therrfore I had to load a fresh frieza image including wiping. If you thing it will improve the situation I may repeat the whole cycle again...

[2018-06-11 22:09] Marathon2422 commented on #65
Gallery vivid 2.9.8
Gallery. Xenial 2.9.5
It shows   Invalid app id
                with URL. '(null)'
Tried doing it by downloading from.   open-store.io       not working

I cannot install the game   8192
Sorry I cant seem to copy n paste, notes or screenshots on this m10 fhd yet

[2018-06-12 11:00] StefWe commented on #65
i will play around tonight. i will report if i found something...

[2018-06-12 13:41] Marathon2422 commented on #65
i have installed the game  8192 ,0n pro5 and m10fhd, by downloading from
open-store.io,and using ut-tweak-tool.the game runs and works,and shows it
is version 0.6

but ,openstore    (the app)   wants to upgrade the  8192, it goes thru the
motions of upgrading ,then goes back to the upgrade screen ,ready to
upgrade the app.

the 8192 app still works as it should and is showing it is version 0.6

ju

[2018-06-12 15:08] StefWe commented on #65
there is a new version of the gallery-app https://open-store.io/app/com.ubuntu.gallery

this version is working on my device. Maybe this will fix your problem.

[2018-06-12 15:11] Marathon2422 commented on #65
Thanks , I am not where I can try it for an hour or so.

On Tue, Jun 12, 2018, 11:08 StefWe <notifications@github.com> wrote:

[2018-06-12 16:12] Marathon2422 commented on #65
Hey, both my devices were turned on, when i got home ,i thought i would
check the Gallery app before i did anything ,and Lo and behold it is
working on both devices ( m10fhd and pro5).
       ( i may have  already installed that version ,if it was there ,about
2-3 hrs after your first email)

Thanks for your help with this    😀

( i checked the games app 8192 ,and in openstore it wants to upgrade

[2018-06-13 06:06] StefWe commented on #65
can you close this issue @Flohack74 ? Thank you..

[2018-06-13 15:55] #65 closed

[2018-08-09 14:09] CesarHerreraG opened #71 "Personal Collection"
You may want to have some photos selected to view only them. Special photos that you want ro see without searching everything. Ready to see them without difficulty.

[2018-08-09 14:12] TronFortyTwo commented on #71
I think I miss the point of this request; what's the difference with creating a "Personal" album and putting there the photos you want to?

[2018-08-09 14:12] StefWe commented on #71
You can create a album and select some picture you want to add to this album.

Next time you only have to open your album

[2018-08-09 14:13] StefWe commented on #71
to slow 👍

[2018-08-09 14:19] CesarHerreraG commented on #71
I didn't know it. You are right. Thanks a lot.

[2018-08-18 21:17] josevidalrt opened #73 "In the event mode, it does not show the year correctly."
In the event mode, it does not show the year correctly.
![screenshot20180818_231506845](https://user-images.githubusercontent.com/12157729/44303274-d7e0cf80-a33c-11e8-96aa-fa4414265f2f.png)

[2018-08-19 08:41] Flohack74 commented on #73
Works for me, which language do you use? Spanish?
![grafik](https://user-images.githubusercontent.com/16186470/44307076-73555d00-a39c-11e8-87f4-a4f273ea3656.png)

[2018-08-19 09:02] josevidaldoblecero commented on #73
Hi, yes it is Spanish

[2018-08-19 09:16] Flohack74 commented on #73
The problem seems to be here:
![grafik](https://user-images.githubusercontent.com/16186470/44307353-2f188b80-a3a1-11e8-8c9a-f96c55ba190c.png)

Someone translated the mask for 4-digit year. I will revert it back to yyyy...

[2018-08-19 10:47] josevidaldoblecero commented on #73
Thanks In case it was useful, I attach the modified binary as a solution until the new version that corrects it is launched. Just unzip the .gz and replace the gallery-app.mo file located at /opt/click.ubuntu.com/com.ubuntu.gallery/2.9.8/share/locale/es

[gallery-app.mo-fix.gz](https://github.com/ubports/gallery-app/files/2300250/gallery-app.mo-fix.gz)
![screenshot20180819_123745710](https://user-

[2018-08-23 16:57] Anne017 opened #75 "Add the possibility to filter by place (feature request)"
The "Events" menu allows to filter photos by date, but there is no possibility to filter photos by location.

To go further and have a consistent menu with the Music app, here could be a proposal:
- Tracks > Photos (could also be renamed as Recent because it is actually its role);
- Artists > People (could be an issue with privacy if facial recognition is introduced);
- Albums > Places (based on t

[2018-08-23 16:58] Anne017 commented on #75
Below some examples with GNOME Photos, Plasma Mobile and Apple Photos.
![gnome photos](https://user-images.githubusercontent.com/17686836/44540222-7cc92700-a706-11e8-90da-c9dff5c33eb1.png)
![plasma mobile](https://user-images.githubusercontent.com/17686836/44540224-7d61bd80-a706-11e8-801e-9d0f8d917b32.png)
![ui_gallery_2_large](https://user-images.githubusercontent.com/17686836/44540223-7cc92700-a

[2018-08-23 18:58] Flohack74 commented on #75
First problem here is that we do not record the position a photo was taken (GPS). So its kinda hard making a filter for that ;)

[2018-08-24 15:51] Anne017 commented on #75
Then there is in the first place no functionality to add tags to a picture.
At least without using third-party apps such as Imaginario.

![screenshot20180824_174350706](https://user-images.githubusercontent.com/17686836/44594345-34713e00-a7c6-11e8-99f9-5b6e6b9d4578.png)

[2018-08-24 17:09] Flohack74 commented on #75
Ok so lets rephrase: Would it be sufficient to have structured tags like "Place: London" "Season: Winter" or so we want just tags #london #winter

[2018-08-25 10:32] Anne017 commented on #75
I think it is best to have structured tags if the need of the end user is to search easily in the Gallery app.
It could also be interesting for smart albums.

For example:
Place: London, Berlin
People: Mum, dad
Keyword: Dog, food, ubports (for general hashtags)

For Places, we could also imagine to use a list of choices similar to what exists in the Weather app when new places are added to:
1. Hel

[2018-08-31 01:41] nfsprodriver commented on #42
#76

[2018-08-31 01:42] nfsprodriver commented on #41
Just tried around with it, but the app get's extremely slow when a gif gets rendered. Does anyone know, whether and how there is a thumbnailer functionallity?

[2018-08-31 01:45] nfsprodriver commented on #10
The image editor itself is not part of the gallery-app but of ubuntu-ui-extras. We may contribute there to add more general image editing features.

[2018-10-13 20:51] StefWe commented on #73
Can we close this issue? Is this fixed in version 2.9.9?

[2018-10-14 16:45] #48 closed

[2018-10-22 02:34] dobey opened #80 "Uses duplicated Ubuntu.Unity.Action API"
It seems gallery-app is still using an old `Ubuntu.Unity.Action` API for some things. An equivalent API has been available for a long while in UITK, so we should use it instead.

[2018-10-22 21:24] #80 closed, assigned to dobey

[2018-10-30 23:08] cibersheep commented on #60
Is missing the PageHeader :)
On Vivid
![imatge](https://user-images.githubusercontent.com/6640041/47756085-05cd8300-dca1-11e8-91b2-5d476ab000b5.png)

On Xenial
![imatge](https://user-images.githubusercontent.com/6640041/47756098-141b9f00-dca1-11e8-955a-7e4275b914b9.png)

[2018-10-30 23:13] cibersheep opened #83 "Adding Picture to Album Header Is Confusing"
Steps:
- Create a new album
- tap on + sign to add images
- select images

When images are being selected, icon should change to tick to be clear is the final step to create the album

![imatge](https://user-images.githubusercontent.com/6640041/47756292-c6ebfd00-dca1-11e8-9516-e4b9408f01d2.png)

[2018-10-31 12:49] StefWe commented on #83
I'm 100% with you. I think this must be a easy qml edit.

[2018-10-31 16:18] TronFortyTwo commented on #4
See #84

[2018-10-31 19:44] cibersheep commented on #83
Should be somewhere [here](https://github.com/ubports/gallery-app/tree/master/rc/qml/AlbumEditor)
The `header` need to be changed for a PageHeader {}

[2018-10-31 20:20] Flohack74 commented on #4
Hmm send me a screenshot to approve ;)

[2018-10-31 21:19] TronFortyTwo commented on #4
![img_20181031_221843_720](https://user-images.githubusercontent.com/18293963/47819498-fa3e9280-dd5a-11e8-9006-7d8bd43c96f4.jpg)
Here it is! :D

[2018-10-31 22:33] StefWe commented on #83
i don't find the right place where it is possible to switch the plus to a tick

[2018-11-01 17:32] cibersheep commented on #83
Have you tried to make a search for "add" (it should be the name of the icon)

[2018-11-01 20:13] StefWe commented on #83
I searched for "add" and changed some of them to a "ok" to get a tick and see if it is the right place. Unfortunately I didn't find the right place in the code.

[2018-11-01 23:45] cibersheep commented on #83
Mmm... this code  is a bit confusing for me too :(

[2018-11-04 21:30] StefWe commented on #4
first this need to be merged? https://github.com/ubports/gallery-app/pull/84

[2018-11-04 22:59] Flohack74 commented on #4
Oh this on up there was smth else

[2018-11-14 22:11] CesarHerreraG commented on #73
Not yet.

[2018-11-14 22:17] StefWe commented on #73
Hm, we need to check weblate again and then release a new version.

[2018-11-14 22:17] StefWe commented on #73
Hm, we need to check weblate again and then release a new version.

[2018-11-14 22:19] advocatux commented on #73
I can confirm this issue is still happening in xenial devel. For example, this is a screenshot of my BQ E4.5 running 16.04 (2018-11-14) right now:
![aaaa-issue](https://user-images.githubusercontent.com/30233652/48516410-97bdba00-e863-11e8-9c59-1936e3bb8d2b.jpg)

[2018-11-14 22:33] advocatux commented on #73
@StefWe that string looks OK in weblate https://translate.ubports.com/translate/ubports/gallery-app/es/?checksum=&offset=1&q=yyyy&search=ftx&type=all&ignored=&date=&only_user=&exclude_user=

BTW, if any string can't be "touched" it shouldn't be available for translation or should have a clear warning about what will happen if someone does it :)

[2018-11-14 22:33] StefWe commented on #73
i checked the es.po file
![screenshot_20181114_232950](https://user-images.githubusercontent.com/35935077/48517028-529a8780-e865-11e8-8240-c781054c440e.png)
and the weblate
![screenshot_20181114_233016](https://user-images.githubusercontent.com/35935077/48517037-58906880-e865-11e8-8ead-eda90980278c.png)
both looks good. I think we need to release a new version of the app.

But why is this problem

[2018-11-14 22:38] StefWe commented on #71
Can we close this issue?

Is the album function ok for your needs?

[2018-11-14 22:44] advocatux commented on #73
I don't know, I thought this issue was fixed. I reviewed that whole translation 11 days ago and that string was fine.

I'm checking the `es.po` file now to see if there was any problem in the step from Weblate to GitHub but it looks OK too:
https://github.com/ubports/gallery-app/blob/30e2c90e88ff70283adf83c1ae21f540520fbe36/po/es.po#L103-L105

[2018-11-15 07:48] StefWe commented on #73
I build a click from the actual master branch. Can you install that and check the translation?

[com.ubuntu.gallery_2.9.9_armhf.zip](https://github.com/ubports/gallery-app/files/2584169/com.ubuntu.gallery_2.9.9_armhf.zip)

I need to change the name of the file *.zip otherwise it is not possible to upload it. Please rename the file after download to *.click

[2018-11-15 08:06] advocatux commented on #73
Yes, that click package works.

@StefWe thank you for your work !!

[2018-11-15 08:49] StefWe commented on #73
@advocatux thank you for testing the click file.

What we can do now? For solving this problem for every users?
What needs to be done to bring a new click version in the open-store?

[2018-11-15 10:02] advocatux commented on #73
@StefWe you're welcome.

Emanuele Sorce (@TronFortyTwo) is still the maintainer, so he should upload the package to the OpenStore

[2018-11-15 10:06] advocatux commented on #73
FYI I've pinged Emanuele in the OpenStore group (TG)

[2018-11-15 17:40] JassMan23 commented on #64
This is an option on Tizen phones where you can set up a "privacy" mode system wide. In system settings, once you have privacy set up, you need to type in your privacy password if the phone has been switched off/locked. Once the password has been typed in all your private photos (as well as notes in the notes app, todos etc.) automagically re-appear. Since there is no separate "hidden" tab, no one

[2018-11-15 18:10] JassMan23 commented on #60
ennedin also complained about not being able to view a single picture from within the album. I also find this frustrating since it insists on making 2 (almost square) cropped pics per page and over half of them have heads cropped at nose level with no way to see a full face. This occurs in hammerhead xenial OTA5(20181012) and dev builds up to 705. I don't know if this is a regression since I have

[2018-11-15 18:52] CesarHerreraG opened #87 "Album from Vivid is not in Xenial."
May be now the config. is in

file:///home/phablet/.local/share/com.ubuntu.gallery/com.ubuntu.gallery/database/gallery.sqlite

But previously it was in

file:///home/phablet/.local/share/com.ubuntu.gallery/database/gallery.sqlite
This would be why an album from Vivid has dissapeared in Xenial

[2018-11-15 20:56] CesarHerreraG opened #88 "Include Exif inf"

[2018-11-15 20:59] CesarHerreraG commented on #88
Allow see the information saved in an image and put new information.

[2018-11-15 21:18] StefWe commented on #87
Thank you for this information. I wipe my phone, so i don't noticed that the albums are lost.

[2018-11-15 21:20] StefWe commented on #73
The new version is released. Thanks to @advocatux and @TronFortyTwo for that.

@Flohack74  i think you can close this issue now.

[2018-11-15 22:21] JassMan23 commented on #75
IMHO, most this sort of info should be stored in the EXIFdata of the image, so we need some help from the Camera/PhotoRoll app team once they have sorted the exif bug (camera-app#79) and frozen  preview bug (touch issue#611/#932).

If required for speed of access/sorting etc, the info can later be extracted into the gallery database.

Location data should be stored by the camera app in the GPS tag

[2018-11-16 06:35] idekovets opened #89 "Russian translate issue "Date" in gallery-app"
In gallery wrong displayed Date. Instead "Ноябрь 2018" (November 2018) shown "МММ гггг". I already update translation on UBports Weblate. Please update gallery-app.

Thanks!

[2018-11-16 07:19] StefWe commented on #89
Now we need someone how made a peer review?

![screenshot_20181116_081836](https://user-images.githubusercontent.com/35935077/48603918-50751d80-e978-11e8-805e-b2f795a140f6.png)

[2018-11-16 07:39] StefWe commented on #89
Your translation is not the problem.
I believe that someone who admins the weblate service must say that weblate should accept that.

But maybe I'm wrong about this too.

[2018-11-16 08:57] idekovets commented on #89
Accepted

[2018-11-16 09:01] StefWe commented on #89
Perfect. Thank you very much for the fast help.
With the next version this should be fixed.

[2018-11-16 09:04] idekovets commented on #89
OK. Thanks!

[2018-11-17 08:47] Flohack74 commented on #89
Translations are only pushed once per week during the night from Sat to Sun. So lets see tomorrow ;)

[2018-11-17 08:49] idekovets commented on #89
Thanks!Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail17.11.2018, 11:48, "Florian Leeber" <notifications@github.com>:Translations are only pushed once per week during the night from Sat to Sun. So lets see tomorrow ;)

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-18 03:49] idekovets commented on #89
Still

[2018-11-18 03:49] #89 closed

[2018-11-18 09:32] StefWe commented on #89
at the moment the translation is a open pull request as you can see here https://github.com/ubports/gallery-app/pull/86
Now someone needs to merge this into the master tree.
If this is done, we need to bring a new version of the app to the open-store

[2018-11-18 09:35] idekovets commented on #89
OK OK
Thanks!

[2018-11-18 09:36] StefWe commented on #89
on the next gallery-app update you get via open-store this translation should be fixed

[2018-11-19 10:19] StefWe commented on #87
`QStandardPaths::writableLocation(QStandardPaths::DataLocation)`

brings back

The same result is with QStandardPaths::AppDataLocation. I don't know why maybe this is a bug in the qt version we have on xenial? Because they are different to the version of vivid.

[2018-11-22 07:03] StefWe commented on #73
Can anyone confirm that this issue is solved?

[2018-11-22 09:38] advocatux commented on #73
I thought it was confirmed already.

Anyhow, I confirm that this issue is fixed :)

[2018-11-22 11:10] StefWe commented on #73
Thank you very much for your feedback.

Now we have to find someone who wants to close a ticket :-)

[2018-11-22 12:38] #73 closed

[2018-11-25 21:03] #71 closed

[2018-11-25 21:09] CesarHerreraG commented on #71
Yes you can close. Thanks.

[2018-11-27 13:21] TronFortyTwo commented on #88
Exactly what information are you interested in?

[2018-11-27 13:29] CesarHerreraG commented on #88
Aperture, speed, distance, and a title saying where it is....

[2018-12-02 11:35] #42 closed

[2018-12-03 16:47] TronFortyTwo commented on #60
fixed with #96

[2018-12-03 16:47] #60 closed